<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Banco de Sangre</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
        <ion-card-title>Bancos de Sangre</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <form>
            <ion-item>
                <ion-label position="floating">Nombre: Bianca</ion-label>
                <br>
                <h6>Grupo Sanguineo: O+</h6>
                <!-- <br> -->
                <h6>Cantidad de donantes: 1</h6>

            </ion-item>
        </form>
        <br>
    </ion-card-content>
</ion-card>
</ion-content>
