<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Requisitos</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
        <ion-card-title> <b>Requisitos básicos para Donar</b> </ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <form >
          <ion-label position="floating">
            <ion-icon name="chevron-forward-outline"></ion-icon>
            Gozar de buen estado de salud.
            <br>
            <ion-icon name="chevron-forward-outline"></ion-icon>
            Tener entre 18 y 65 años de edad.
            <br>
            <ion-icon name="chevron-forward-outline"></ion-icon>
            Pesar más de 50 kilos.
            <br>
            <ion-icon name="chevron-forward-outline"></ion-icon>
            Tener valores de presión arterial dentro
de los límites adecuados.
<br>
            <ion-icon name="chevron-forward-outline"></ion-icon>
            No haber padecido alguna enfermedad
en los últimos 7 años.
<br>
            <ion-icon name="chevron-forward-outline"></ion-icon>
            Hombres: 4 veces al año.
            <br>
            <ion-icon name="chevron-forward-outline"></ion-icon>
            Mujeres: 3 veces al año.
          </ion-label>

        </form>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
        <ion-card-title><b>El dia de la donación</b> </ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <form >
          <ion-label position="floating">
            No concurrir en ayunas. Desayune
            evitando lácteos y productos grasos.
            <br>
            Recordar llevar el Documento de
            Identidad.
            <br>
            Es recomendable haber descansado al
            menos 6 horas la noche anterior.
          </ion-label>

        </form>
    </ion-card-content>
  </ion-card>
</ion-content>


