<ion-header>
  <ion-toolbar color="danger">
    <ion-title>¿Qué es Donar?</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
        <ion-card-title><b>Donar</b> </ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <form >
          <ion-label position="floating">
            Es el fruto de trabajo de todo nuestro equipo
            desde el año 2015.
            <br>
            Somos una plataforma, que cuenta con una
            versión web, que por intermedio de la
            tecnología busca agilizar el proceso de
            convocatoria de donantes de sangre
            voluntarios.
            <br>
            Está dirigida a todo el público usuario tanto de
            internet como de smartphones.
            <br>
            En conclusión Donar pretende ayudar a los
            diferentes pacientes y familiares en la
            búsqueda de donantes de manera ágil, sencilla
            y automática en cualquier lugar y contribuir al
            actual sistema de donación de los centros
            asistenciales a lo largo de todo el país.
          </ion-label>

        </form>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
        <ion-card-title> <b>Beneficios</b> </ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <form >
          <ion-label position="floating">
            <ion-icon name="checkmark-outline"></ion-icon>
            Permite registrarse en una base de datos como donante voluntario.
            <br>
            <ion-icon name="checkmark-outline"></ion-icon>
            Permite buscar posibles donantes oprimiendo tan solo un botón.
            <br>
            <ion-icon name="checkmark-outline"></ion-icon>
            Filtra rápidamente solo los donantes del tipo de sangre requerido y de los tipos de sangre compatibles.
            <br>
            <ion-icon name="checkmark-outline"></ion-icon>
            Ubica los bancos de sangre más cercanos al usuario que realiza la búsqueda.
          </ion-label>

        </form>
    </ion-card-content>
  </ion-card>
</ion-content>

