<ion-header>
  <ion-toolbar color="danger">
    <ion-title>informacion</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
        <ion-card-title><b>Clasificación</b> </ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <form >
          <ion-label position="floating">
            Los dadores se clasifican atendiendo a su
            grupo sanguíneo y a su RH, por ejemplo A+.
            No todos los grupos son compatibles entre sí,
            de manera que cuando se realiza una
            transfusión hay que atender la compatibilidad
            de los dos factores.
            <br>
            Los grupos RH negativos pueden donar a las
            personas de su mismo grupo sanguíneo, tanto
            si son positivos como negativos, mientras que
            los RH positivos sólo son compatibles con los
            positivos.
            <br>
            ¿Cuál es tu grupo sanguineo?
          </ion-label>

        </form>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
        <ion-card-title><b>¿Por qué elegir ser donante voluntario de sangre?</b> </ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <form >
          <ion-label position="floating">
            La donación de sangre es un acto altruista
            para el que no hay que tener condiciones
            excepcionales, únicamente la conciencia de
            que es necesaria para alguien (o para nosotros
            mismos ya que 9 de cada 10 personas la
            necesitarán en algún momento de su vida) y
            las ganas de dedicarle apenas media hora.
            <br>
            Cualquier persona con buen estado de salud,
            mayor de 18 años y menor de 65, y que pese
            más de 50 kg. puede donar sangre.
            <br>
            Sólo el haber padecido determinadas
            enfermedades (hepatitis, sida, paludismo,
            tumores y otras), haber estado enfermo en los
            días previos a la donación o haber tomado
            algunos medicamentos, hacen que una
            persona no sea candidato a donar en un
            momento determinado.
            <br>
            En cualquier caso, el personal de salud que
            hace las colectas de sangre, hará unas
            pruebas y algunas preguntas para saber si el
            donante estás en condiciones de realizar la
            donación. En los casos que se lo excluya
            temporalmente, una vez transcurrido el
            período indicado, puede volver a presentarse
            para donar.
          </ion-label>

        </form>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
        <ion-card-title> <b>Donar es fácil y seguro</b> </ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <form >
          <ion-label position="floating">
            El acto solidario de la donación de sangre
            es fácil y todo aquel que cumpla con los
            siguientes requisitos, puede hacerlo.
            <br>
            <ion-icon name="checkmark-outline"></ion-icon>
            Tener más de 18 años y menos de 65.
            <br>
            <ion-icon name="checkmark-outline"></ion-icon>
            Pesar más de 50 kilos.
            <br>
            <ion-icon name="checkmark-outline"></ion-icon>
            Estar sano.
            <br>
            Donar es seguro ya que todo el material
            utilizado es estéril y de un sólo uso. Los
            donantes pasan además un pequeño
            reconocimiento médico y todas las
            donaciones son analizadas.
          </ion-label>

        </form>
    </ion-card-content>
  </ion-card>
</ion-content>
